.App {
  text-align: center;
}

.Admin_NamePage {
  margin-top: 60px;
}

.Admin_List {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 30px 0px 0px 10px;
}

.Admin_ListButton {
  width: 70px;
  margin: 5px auto 0px auto;
  border: 1px solid black;
}